version: "3.9"

services:
  backend:
    build: .
    container_name: comp3123-assignment1-backend
    ports:
      - "5000:5000"   # host:container
    environment:
      - MONGO_URI=mongodb://mongo:27017/comp3123_assignment1
      - PORT=5000
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: comp3123-assignment1-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
